<meta name="viewport" content="width=device-width, initial-scale=1.0" > * {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 25%;
  padding: 1px;
  overflow: auto;

/*   background-color: antiquewhite; */
}
.column2 {
  float: right;
  width: 70%;
  padding: 1px;
  overflow: auto;
/*   background-color: pink; */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90vh;
  max-width: 50vw;
}


body {
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
    padding:1em;
    color: #ff4fae;
    background-color: #f0f5ff;
  }

.back {
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
    color: #ff4fae;
  }

h1 {
    font-family: helvetica;
    font-size: 1.9rem;
    text-align: left;
    padding:0em;
    margin-bottom: 3rem;
    overflow: none;
    font-weight: normal;
    color: black;
    font-weight: 600;
    letter-spacing: 0.12em;
}

p2 {
      text-align: right;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 400px) {
  body {
    font-size: 13px;
    padding: 0.1em;
  }
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 400px) {
  h1 {
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
    padding:0em;
    margin-bottom: 3rem;
    overflow: none;
    font-weight: normal;
    color: black;
    font-weight: 600;
    letter-spacing: 0.12em;

  }
}

a {
    color: black;
/*   color:  fuchsia; */
  text-decoration: none;
}

a:hover {
  color: #ff8fc7;
  text-decoration: underline;
}
